.salaryDiv {
    width: 90%;
    margin: 30px auto;
    padding: 30px;
    background-color: rgba(245, 245, 247, 1);
    border-radius: 20px;
}
.salaryTitle {
    font-size: 24px;
    font-weight: 500;
    color: rgba(20, 96, 242, 1);
    text-align: center;
}
.cardBox {
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 20px;
}
.salaryDiv .cardBox .cardS {
    height: 100px;
    background-color: white;
    padding: 20px;
    border: 1px solid rgba(104, 104, 104, 1);
    border-radius: 10px;
    text-align: center;
}
.salaryDiv .cardBox .cardS span {
    font-size: 20px;
    font-weight: 500;
    color: rgba(226, 96, 32, 1);
}

@media screen and (max-width: 412px) {
    .cardBox {
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 20px;
    }
    .cardBox .cardS {
        width: 100%;
    }
}